{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Welcome to Sanrio Pizzas 𔓘</h1>
    <p class="lead text-center">Order the cutest and most delicious pizzas inspired by Hello Kitty!</p>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card bg-light shadow-sm p-3 mb-5 bg-body rounded">
                <h2 class="card-title text-center">Special Offers</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Get a free Hello Kitty plush toy with any large pizza!</li>
                    <li class="list-group-item">10% off for customers wearing Hello Kitty attire.</li>
                    <li class="list-group-item">Happy Hour: Buy one pizza, get one free from 4 PM to 6 PM!</li> 

                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-light shadow-sm p-3 mb-5 bg-body rounded">
                <h2 class="card-title text-center">Our Hello Kitty Pizzas</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Hello Kitty Margherita</li>
                    <li class="list-group-item">Purrfect Pepperoni Passion</li>
                    <li class="list-group-item">Kittylicious Veggie Delight</li>
                    <li class="list-group-item">Meowtastic Hawaiian Happiness</li>
                    <!-- Add more items as needed -->
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-light shadow-sm p-3 mb-5 bg-body rounded">
                <h2 class="card-title text-center">Contact Us</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Phone: 444-444-444</li>
                    <li class="list-group-item">Email: info@hellokittypizza.com</li>
                    <li class="list-group-item">Address: 123 Hello Kitty Street, Sanrio City</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
