{% extends "base.html" %}

{% block content %}
    {% for p in pizzas %}
    <div class="container p-5 my-5 bg-dark text-white">
        <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h4> {{p.pizza.name}} ‧₊˚ ⋅ 𓐐𓎩 ‧₊˚ ⋅</h4>
                <h5 class="card-title">Ordered on: {{p.date_ordered}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{p.pizza.sizes}} (∩˃ω˂∩) {{p.pizza.cheeses}}</h6>
                <p class="card-text">{{p.pizza.sauces}} base with {{p.pizza.crusts}} crust</p>
                <p class="card-text">Toppings:
                  {% for topping in p.pizza.toppings.all %}
                      {{ topping.name }}
                      {% if not forloop.last %}, {% endif %}
                  {% endfor %}
              </p>
            </div>
        </div>
    </div>
    {% endfor %}
	<p class=" bg-light text-dark fixed-bottom h5" >hi {{user.email}} ˚ʚ♡ɞ˚ here are your previous orders (❀❛ ֊ ❛„)♡ <a href="createpizza">order some more here!</a</p>
{% endblock content%}