{% extends "base.html" %}
{% block title %}
  <!-- the page title goes here --> 
{% endblock title%}

{% block content %}
    {% for p in pizzas %}
    <div class="container p-5 my-5 bg-dark text-white">
        <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Ordered on: {{p.date_ordered}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{p.pizza.sizes}} {{p.pizza.cheeses}}</h6>
                <p class="card-text">{{p.pizza.sauces}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
	<p class=" bg-light text-dark fixed-bottom h6" >hi! {{user.email}} here are your previous orders Your Pizzas <a href="createpizza">order some more here!</a</p>
{% endblock content%}